{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container bg-danger rounded p-3">
        <h1 class="text-white">Register</h1>
        <div class="container bg-white rounded">
            <form class="p-5" action="/main" method="POST" >
                <h2>Personal Info</h2>
                <div class="p-4"> 
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name"> 
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <h2>User Info</h2>
                <div class="p-4">
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input type="text" class="form-control" id="userName" placeholder="User Name"> 
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <Label for="password">Password</Label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <Label for="confirmPassword">Confirm Password</Label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" id="register">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

